
$darkblue: #1d2d50;
$lighterblue: #133b5c;
$blue: #1e5f74;
$tan: #fcdab7;
$red: #931a25;
$pink: #e97171;
$yellow: #ffcb8e;
$white: #f5efef;

$darkgrey: #838383;
$lightgrey: #ad9d9d;
$darkpink: #d9adad;
$lightpink: #fccbcb;
